/* Example: page.module.css */

.container { 
  width: 1199px;
  margin: 0 auto;
  max-width: 77.8%; /* Optional: You can set a maximum width for the container */
}
@media (max-width: 768px) {
  .container { 
    padding:1rem;
    width: auto;
    margin: 0;
    max-width:100%; /* Optional: You can set a maximum width for the container */
  }
}
